build
**/project.xcworkspace/contents.xcworkspacedata
.DS_Store
**/project.xcworkspace/xcuserdata/
*.idea
*xcuserdatadbin
bin
gen
obj
**/libs/eegeo/
**/libs/armeabi/
**/libs/armeabi-v7a/
**/libs/arm64-v8a/
**/Include/eegeo/
.DS_Store
.classpath
.cproject
.project
.settings/
**/xcuserdata/
**/*.vcxproj
**/*.vcxproj.filters
**/*.xcodeproj
**/*.sln
ios/XcodeBuild/
**/ApplicationConfigs/staging_config.json
**/.vscode/
.gradle
**/.externalNativeBuild
*.iml
gradlew
gradlew.*
**/gradle
**/local.properties
ios/Include/SenionLab/*.framework
android/libs/SLDistribution_4.13.1-rc1.jar

