build
**/project.xcworkspace/contents.xcworkspacedata
.DS_Store
**/project.xcworkspace/xcuserdata/
*.idea
*xcuserdatadbin
bin
EndToEndResults/
gen
obj
**/libs/eegeo/
**/libs/armeabi/
**/Include/eegeo/
.DS_Store
.classpath
.cproject
.project
.settings/
**/xcuserdata/
