build
Include
ExampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ExampleApp.xcodeproj/xcuserdata/eegeo.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
ExampleApp.xcodeproj/xcuserdata/eegeo.xcuserdatad/xcschemes/ExampleApp.xcscheme
ExampleApp.xcodeproj/xcuserdata/eegeo.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
ExampleApp.xcodeproj/project.xcworkspace/xcuserdata/eegeo.xcuserdatad/UserInterfaceState.xcuserstate
*.idea
*xcuserdatad