<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.eegeo.mobileexampleapp"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk android:minSdkVersion="19"
        android:targetSdkVersion="24"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le"
        android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer"
		android:required="false" />
	<uses-feature android:name="android.hardware.sensor.compass"
		android:required="false" />
	<uses-feature android:name="android.hardware.sensor.gyroscope"
		android:required="false" />
	<uses-feature android:name="android.hardware.wifi"
		android:required="true" />

    

    <application android:icon="@mipmap/icon" android:label="WRLD" android:theme="@android:style/Theme.NoTitleBar">
       
        <activity android:name="com.eegeo.mobileexampleapp.BackgroundThreadActivity"
                  android:label="WRLD"
                  android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
                  android:windowSoftInputMode="adjustPan"
              	  android:launchMode="singleTask"
              	  android:hardwareAccelerated="true"
              	  android:resizeableActivity="false"
              	  android:supportsPictureInPicture="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
        		<category android:name="android.intent.category.BROWSABLE" />

		        <data android:scheme="wrld" android:host="location" />
		        <data android:scheme="wrld" android:host="mapscene" />
                <data android:scheme="wrld" android:host="search" />

		        <data android:scheme="eegeo" android:host="location" />
		        <data android:scheme="eegeo" android:host="mapscene" />
                <data android:scheme="eegeo" android:host="search" />
            </intent-filter>
        </activity>
        
       	<receiver
            android:name="com.eegeo.web.NetworkChangeReceiverProxy"
            android:label="NetworkChangeReceiverProxy" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version"
            android:value="7571000" />
        <service
            android:name="com.senionlab.slutilities.service.SLIndoorLocationService"
            android:exported="false"/>
        <service android:name="com.indooratlas.android.sdk.IALocationService"
			android:label="IALocationService"
			android:exported="false"/>
       	
    </application>

</manifest> 
<!-- END_INCLUDE(manifest) -->
