<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- Main bundle definition (TODO: Derive version from command line var) -->
  <Bundle Name="BWAY" Version="$(var.Version)" Manufacturer="eeGeo Ltd" UpgradeCode="da2eb3ec-2734-4d2a-8c6a-c178fbdbf1cb"
          HelpUrl="http://www.eegeo.com"
          Copyright="Copyright© 2016, eeGeo Ltd."
          IconSourceFile="Resource\setup.ico"
          AboutUrl="http://www.eegeo.com"
          SplashScreenSourceFile="Resource\splashScreen.bmp">
    <util:RegistrySearchRef Id="SearchForVCRedist"/>
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
      <bal:WixStandardBootstrapperApplication LicenseFile="Resource\License.rtf" ThemeFile="Resource\eegeoTheme.xml" SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <WixVariable Id="WixStdbaLicenseUrl" Value="" />
    <WixVariable Id="WixStdbaLogo" Value="Resource\logo.png" />



    <!-- Installation chain -->
    <Chain>

      <!-- .Net Framework -->
      <PackageGroupRef Id="NetFx452Web"/>

      <!-- VC++ 2015 Redistributable (x64)-->
      <ExePackage Id="VCRedistx64" Name="Microsoft VC++ 2015 Redistributable (x64)" Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes" InstallCommand="/q"
                  SourceFile="Resource\vc_redist.x64.exe"
                  DetectCondition="VersionNT64 AND VCRedist64Version >= &quot;v14.0.23026.0&quot;"
                  InstallCondition="(VersionNT64 >= v6.0) AND (NOT (VCRedist64Version >= &quot;v14.0.23026.0&quot;))"/>
      
      <RollbackBoundary />

      <!-- Main installer -->
      <MsiPackage
        Id="Setup"
        Compressed="yes"
        SourceFile="$(var.SwallowMsiLocation)"
        Vital="yes"
        DisplayInternalUI="yes">
      </MsiPackage>

    </Chain>
  </Bundle>

  <Fragment>
    <!-- Get installation of VC++ redist (Taken from http://stackoverflow.com/questions/12206314/detect-if-visual-c-redistributable-for-visual-studio-2012-is-installed )-->
    <util:RegistrySearch Id="SearchForVCRedist"
                         Root="HKLM" 
                         Key="SOFTWARE\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" 
                         Value="Version"
                         Format="raw"
                         Result="value"
                         Variable="VCRedist64Version"
                         Win64="yes"/>
  </Fragment>

</Wix>
