<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Fastlane screengrab -->
    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.eegeo.mobileexampleapp" />
    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- /Fastlane screengrab -->
</manifest> 
<!-- END_INCLUDE(manifest) -->
